body{
  background: cadetblue;
  font-family: times new roman;
  
}
.type{
   display: grep;
   max-width:1000px;
   align-content: center;
   margin:auto;
   box-shadow:0 0 10px rgba(0,0,0,0.1);
}

p{
  text-align: center;
  align-content: center;
}
button{
  border: 2px solid black;
  background: cornflowerblue;
  width: 100%;
}
h1{
  text-align: center;
  box-shadow: 1px 2px red;
}
img{
  width:240px;
   border-radius:50%;
   border:4px solid white;
   justify-content: center;
}
section{
   font-family: times new roman, sans serif;
   align-content: space-evenly;
}
